In [46]:
from sklearn.cluster import KMeans
import pandas as pd
import pickle
import string
import re
import string
from sklearn.model_selection import cross_validate as cross_validation, ShuffleSplit, cross_val_score, train_test_split, KFold
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV
from sklearn.metrics import classification_report, accuracy_score, auc
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path
from sklearn.svm import LinearSVC
from sklearn.neural_network import MLPClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
import pandas.util.testing as tm

In [47]:
data2 = pd.read_pickle("preprocessed_data.pkl")

In [48]:
print(data2.columns.tolist())

['YEAR', 'ITERATION', 'ID_HH', 'RHoMIS_ID', 'GPS_LAT', 'GPS_LON', 'GPS_ALT', 'Altitude', 'HHsizemembers', 'HHsizeMAE', 'Head_EducationLevel', 'LandOwned', 'LandCultivated', 'LivestockHoldings', 'WorstFoodSecMonth', 'BestFoodSecMonth', 'NrofMonthsFoodInsecure', 'PPI_Threshold', 'PPI_Likelihood', 'HFIAS_status', 'FIES_Score', 'score_HDDS_GoodSeason', 'score_HDDS_farmbasedGoodSeason', 'score_HDDS_purchasedGoodSeason', 'score_HDDS_BadSeason', 'score_HDDS_farmbasedBadSeason', 'score_HDDS_purchasedBadSeason', 'TVA_USD_PPP_pmae_pday', 'currency_conversion_factor', 'total_income_USD_PPP_pHH_Yr', 'offfarm_income_USD_PPP_pHH_Yr', 'farm_income_USD_PPP_pHH_Yr', 'value_farm_produce_USD_PPP_pHH_Yr', 'crop_sales_USD_PPP_pHH_Yr', 'value_crop_produce_USD_PPP_pHH_Yr', 'value_crop_consumed_USD_PPP_pHH_Yr', 'livestock_prodsales_USD_PPP_pHH_Yr', 'value_livestock_production_USD_PPP_pHH_Yr', 'value_livestock_prod_consumed_USD_PPP_pHH_Yr', 'Market_Orientation', 'Livestock_Orientation', 'Food_Availability_kCal_MAE_day', 'Food_Self_Sufficiency_kCal_MAE_day', 'NrofMonthsWildFoodCons', 'GHGEmissions', 'Gender_MaleControl', 'Gender_FemaleControl', 'NFertInput', 'Nat_Bolivia', 'Nat_Burkina_Faso', 'Nat_Burundi', 'Nat_Cambodia', 'Nat_Comoros', 'Nat_Costa_Rica', "Nat_Cote d'Ivoire", 'Nat_DRC', 'Nat_Ecuador', 'Nat_El_Salvador', 'Nat_Ethiopia', 'Nat_Ghana', 'Nat_Guatemala', 'Nat_Honduras', 'Nat_India', 'Nat_Kenya', 'Nat_LaoPDR', 'Nat_Malawi', 'Nat_Mali', 'Nat_Morocco', 'Nat_Nicaragua', 'Nat_Niger', 'Nat_Nigeria', 'Nat_Palestine', 'Nat_Peru', 'Nat_Rwanda', 'Nat_Senegal', 'Nat_Sierra Leone', 'Nat_South Africa', 'Nat_Tanzania', 'Nat_Uganda', 'Nat_Vietnam', 'Nat_Zambia', 'Type_childhead', 'Type_couple', 'Type_couple_man_works_away', 'Type_couple_polygamous', 'Type_couple_woman_works_away', 'Type_man_single', 'Type_nonparenthead', 'Type_other', 'Type_polygamous', 'Type_single', 'Type_together', 'Type_woman_single', 'Type_workaway']

In [40]:
data = data2[['GPS_LAT', 'GPS_ALT', 'LandOwned', 'LandCultivated', 'LivestockHoldings', 'Food_Availability_kCal_MAE_day', 'Food_Self_Sufficiency_kCal_MAE_day',
'crop_sales_USD_PPP_pHH_Yr', 'value_crop_produce_USD_PPP_pHH_Yr', 'GHGEmissions']]

In [41]:
data

,GPS_LAT,GPS_ALT,LandOwned,LandCultivated,LivestockHoldings,Food_Availability_kCal_MAE_day,Food_Self_Sufficiency_kCal_MAE_day,crop_sales_USD_PPP_pHH_Yr,value_crop_produce_USD_PPP_pHH_Yr,GHGEmissions
0,11.19,254.00,10.0,2.0,1.04,4621.267353,754.360895,164.857702,242.318219,702.949550
1,11.19,346.00,NaN,1.2,4.00,2503.023263,2303.522017,0.000000,279.844923,94415.087935
2,11.19,324.00,2.0,0.8,0.30,381.108158,381.108158,0.000000,23.278518,113.654565
3,11.19,326.00,NaN,0.8,5.43,9948.141738,620.787518,228.969031,255.682085,43062.200002
4,11.22,308.00,10.0,4.0,2.12,2209.261281,1767.543491,22.896903,184.734710,13331.792068
...,...,...,...,...,...,...,...,...,...,...
35723,-13.82,1119.60,8.0,8.0,3.58,21491.305517,12770.090428,2970.040440,9187.374358,34884.136689
35724,-13.82,1128.85,NaN,14.0,8.80,11260.499490,4217.809731,4501.379943,8866.040295,79114.978038
35725,-13.82,1132.41,5.0,6.0,5.48,4247.172555,1221.939610,1083.897904,2007.669471,46350.365405
35726,-13.82,1136.24,4.0,4.0,0.70,5918.719620,5918.719620,0.000000,2026.134892,7452.589981
35727,-13.82,1125.93,1.0,2.0,1.44,4440.170043,3999.475254,158.046197,1843.270026,13768.248392

In [42]:
variable_mean = {}
for i in data.columns.tolist():
        variable_mean[i]= data[i].mean()
print(variable_mean)

{'GPS_LAT': 11.761241781856398, 'GPS_ALT': 941.2650014473938, 'LandOwned': 13.237016323114512, 'LandCultivated': 7.421107306371233, 'LivestockHoldings': 14.915983638928111, 'Food_Availability_kCal_MAE_day': 18873636.984786607, 'Food_Self_Sufficiency_kCal_MAE_day': 5229791.128253465, 'crop_sales_USD_PPP_pHH_Yr': 1235179.649652091, 'value_crop_produce_USD_PPP_pHH_Yr': 1492530.4534688562, 'GHGEmissions': 135485.36807686443}

In [51]:
for i in data.columns.tolist():
    data[i].fillna(variable_mean[i])

In [52]:
data

,GPS_LAT,GPS_ALT,LandOwned,LandCultivated,LivestockHoldings,Food_Availability_kCal_MAE_day,Food_Self_Sufficiency_kCal_MAE_day,crop_sales_USD_PPP_pHH_Yr,value_crop_produce_USD_PPP_pHH_Yr,GHGEmissions
0,11.19,254.00,10.0,2.0,1.04,4621.267353,754.360895,164.857702,242.318219,702.949550
1,11.19,346.00,NaN,1.2,4.00,2503.023263,2303.522017,0.000000,279.844923,94415.087935
2,11.19,324.00,2.0,0.8,0.30,381.108158,381.108158,0.000000,23.278518,113.654565
3,11.19,326.00,NaN,0.8,5.43,9948.141738,620.787518,228.969031,255.682085,43062.200002
4,11.22,308.00,10.0,4.0,2.12,2209.261281,1767.543491,22.896903,184.734710,13331.792068
...,...,...,...,...,...,...,...,...,...,...
35723,-13.82,1119.60,8.0,8.0,3.58,21491.305517,12770.090428,2970.040440,9187.374358,34884.136689
35724,-13.82,1128.85,NaN,14.0,8.80,11260.499490,4217.809731,4501.379943,8866.040295,79114.978038
35725,-13.82,1132.41,5.0,6.0,5.48,4247.172555,1221.939610,1083.897904,2007.669471,46350.365405
35726,-13.82,1136.24,4.0,4.0,0.70,5918.719620,5918.719620,0.000000,2026.134892,7452.589981
35727,-13.82,1125.93,1.0,2.0,1.44,4440.170043,3999.475254,158.046197,1843.270026,13768.248392

In [53]:
data.mean()

GPS_LAT                               1.176124e+01
GPS_ALT                               9.412650e+02
LandOwned                             1.323702e+01
LandCultivated                        7.421107e+00
LivestockHoldings                     1.491598e+01
Food_Availability_kCal_MAE_day        1.887364e+07
Food_Self_Sufficiency_kCal_MAE_day    5.229791e+06
crop_sales_USD_PPP_pHH_Yr             1.235180e+06
value_crop_produce_USD_PPP_pHH_Yr     1.492530e+06
GHGEmissions                          1.354854e+05
dtype: float64

In [54]:
data.fillna(data.mean())

,GPS_LAT,GPS_ALT,LandOwned,LandCultivated,LivestockHoldings,Food_Availability_kCal_MAE_day,Food_Self_Sufficiency_kCal_MAE_day,crop_sales_USD_PPP_pHH_Yr,value_crop_produce_USD_PPP_pHH_Yr,GHGEmissions
0,11.19,254.00,10.000000,2.0,1.04,4621.267353,754.360895,164.857702,242.318219,702.949550
1,11.19,346.00,13.237016,1.2,4.00,2503.023263,2303.522017,0.000000,279.844923,94415.087935
2,11.19,324.00,2.000000,0.8,0.30,381.108158,381.108158,0.000000,23.278518,113.654565
3,11.19,326.00,13.237016,0.8,5.43,9948.141738,620.787518,228.969031,255.682085,43062.200002
4,11.22,308.00,10.000000,4.0,2.12,2209.261281,1767.543491,22.896903,184.734710,13331.792068
...,...,...,...,...,...,...,...,...,...,...
35723,-13.82,1119.60,8.000000,8.0,3.58,21491.305517,12770.090428,2970.040440,9187.374358,34884.136689
35724,-13.82,1128.85,13.237016,14.0,8.80,11260.499490,4217.809731,4501.379943,8866.040295,79114.978038
35725,-13.82,1132.41,5.000000,6.0,5.48,4247.172555,1221.939610,1083.897904,2007.669471,46350.365405
35726,-13.82,1136.24,4.000000,4.0,0.70,5918.719620,5918.719620,0.000000,2026.134892,7452.589981
35727,-13.82,1125.93,1.000000,2.0,1.44,4440.170043,3999.475254,158.046197,1843.270026,13768.248392